<h1>Datensicherung</h1>

<div class="commandline">
    <div class="commandline-text">
        Daten von Server laden
    </div>
    <div class="commandline-button">
        <button mat-fab color="basic" (click)="backup()">
            <mat-icon>backup</mat-icon>
        </button>
    </div>
</div>

<div class="spacer"></div>

<h1>Rücksicherung</h1>

<div class="commandline">
    <div class="commandline-text">
        Server-Daten überschreiben
    </div>
    <div class="commandline-button">
        <input type="file" (change)="restore($event)" placeholder="Rücksicherung" accept=".json">
    </div>
    <div class="commandline-button" [hidden]="!backupCreated">
        <mat-icon aria-hidden="false" aria-label="Success">done</mat-icon>
    </div>
</div>

<div class="spacer"></div>

<h1>CSV Vorbestellungen</h1>

<div class="commandline">
    <div class="commandline-text">
        Liste von Server laden
    </div>
    <div class="commandline-button">
        <button mat-fab color="basic" (click)="createPreOrdersCsv()">
            <mat-icon>apps</mat-icon>
        </button>
    </div>
</div>

<div class="spacer"></div>

<h1>Kontakte</h1>

<div class="commandline">
    <div class="commandline-text">
        Liste von Server laden
    </div>
    <div class="commandline-button">
        <button mat-fab color="basic" (click)="createContactsCsv()">
            <mat-icon>apps</mat-icon>
        </button>
    </div>
</div>


