<mat-nav-list>
    <a mat-list-item routerLink="/preorderlist" (click)="onSidenavClose()">
        <mat-icon>reorder</mat-icon> <span class="nav-caption">Vorbestellungen</span>
    </a>
    <a mat-list-item routerLink="/orderlist" (click)="onSidenavClose()">
        <mat-icon>attach_money</mat-icon> <span class="nav-caption">Einkäufe</span>
    </a>
    <a mat-list-item routerLink="/communicationlist" (click)="onSidenavClose()">
        <mat-icon>call</mat-icon> <span class="nav-caption">Kommunikation</span>
    </a>
    <a mat-list-item routerLink="/menulist" (click)="onSidenavClose()">
        <mat-icon>fastfood</mat-icon><span class="nav-caption">Gerichte</span>
    </a>
    <a mat-list-item routerLink="/statistic" (click)="onSidenavClose()">
        <mat-icon>functions</mat-icon><span class="nav-caption">Statistik</span>
    </a>
    <a mat-list-item routerLink="/backup" (click)="onSidenavClose()">
        <mat-icon>backup</mat-icon><span class="nav-caption">Backup</span>
    </a>
</mat-nav-list>