<h1 i18n>Statistik</h1>

<div class="commandline">
    <div class="commandline-filter">
    </div>
    <div class="commandline-button">
        <button mat-fab color="basic" (click)="refresh()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
</div>

<div>
    <table mat-table [dataSource]="statistic1DataSource" class="table mat-elevation-z8">
        <ng-container *ngFor="let column of statistic1Columns" [matColumnDef]="column.id">
            <th mat-header-cell *matHeaderCellDef>{{ column.title }}</th>
            <td mat-cell *matCellDef="let element" [ngClass]="column.align">
                <div *ngIf="column.type==='string'">{{ element[column.id] }}</div>
                <div *ngIf="column.type==='currency'">{{ element[column.id] | number: ".2" }}</div>            
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="statistic1DisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: statistic1DisplayedColumns">
        </tr>
    </table>
</div>

<div class="space">
    <table mat-table [dataSource]="statistic2DataSource" class="table mat-elevation-z8">
        <ng-container *ngFor="let column of statistic2Columns" [matColumnDef]="column.id">
            <th mat-header-cell *matHeaderCellDef>{{ column.title }}</th>
            <td mat-cell *matCellDef="let element" [ngClass]="column.align">
                {{ element[column.id] }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="statistic2DisplayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: statistic2DisplayedColumns">
        </tr>
    </table>
</div>