<h1 i18n>Vorbestellungen</h1>
<div class="commandline">
    <div class="commandline-filter">
        <mat-form-field>
            <input matInput autocomplete="off" type="text" (keyup)="doFilter($event.target.value)" i18n-placeholder placeholder="Filter" />
        </mat-form-field>
    </div>

    <div class="commandline-button">
        <button mat-fab color="basic" (click)="refresh()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <div class="commandline-button">
        <button mat-fab color="basic" [disabled]="!credentials.preOrders.write" (click)="add()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="commandline-button">
        <button mat-fab color="basic" [disabled]="selection.isEmpty() || !credentials.preOrders.write" (click)="edit()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div class="commandline-button">
        <button mat-fab color="basic" [disabled]="selection.isEmpty() || !credentials.preOrders.write" (click)="delete()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
    <div class="commandline-button">
        <button mat-fab color="basic" [disabled]="selection.selected[0]?.orderExists !== '' || !credentials.preOrders.order" (click)="createOrder()">
            <mat-icon>add_circle_outline</mat-icon>
        </button>
    </div>    
</div>

<div class="table-container">
    <table mat-table matSort [dataSource]="dataSource" class="table mat-elevation-z8">
        <ng-container *ngFor="let column of columns" [matColumnDef]="column.id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.title }}</th>
            <td mat-cell *matCellDef="let element" [ngClass]="column.align">
                <div *ngIf="column.type==='string'">{{ element[column.id] }}</div>
                <div *ngIf="column.type==='date'">{{ element[column.id] | date:"dd.MM.yy HH:mm" }}</div>            
                <div *ngIf="column.type==='currency'">{{ element[column.id] | number: ".2" }}</div>            
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"
            [ngClass]="{ hovered: row.hovered, highlighted: selection.isSelected(row) }" (mouseover)="row.hovered = true"
            (mouseout)="row.hovered = false"></tr>
    </table>
</div>    