.commandline {
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: auto 70px 70px 70px 70px;
    align-items: center;
}

.commandline-filter {
    justify-self: left;
}

.commandline-button {
    justify-self: right;
}

.table {
    width: 100%;
}

.mat-row.hovered {
    background: #eee;
}

.mat-row.highlighted {
    background: #999;
}

.left {
    text-align: left;
    justify-content: left;
}

.center {
    text-align: center;
    justify-content: center;
}
