<h1>Gerichte</h1>
<div class="commandline">
    <div class="commandline-filter">
        <mat-form-field>
            <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter" />
        </mat-form-field>
    </div>

    <div class="commandline-button">
        <button mat-fab color="basic" [disabled]="showForm" (click)="refresh()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <div class="commandline-button">
        <button mat-fab color="basic" [disabled]="showForm || !credentials.menus.write" (click)="add()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="commandline-button">
        <button mat-fab color="basic" [disabled]="showForm || selection.isEmpty() || !credentials.menus.write"
            (click)="edit()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div class="commandline-button">
        <button mat-fab color="basic" [disabled]="showForm || selection.isEmpty() || !credentials.menus.write"
            (click)="delete()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>

<table mat-table matSort [dataSource]="dataSource" class="table mat-elevation-z8">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.title }}</th>
        <td mat-cell *matCellDef="let element" [ngClass]="column.align">
            <div *ngIf="column.type==='string'">{{ element[column.id] }}</div>
            <div *ngIf="column.type==='currency'">{{ element[column.id] | number: ".2" }}</div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="toggleSelection(row)"
        [ngClass]="{ hovered: row.hovered, highlighted: selection.isSelected(row) }" (mouseover)="row.hovered = true"
        (mouseout)="row.hovered = false"></tr>
</table>

<!-- Form -->
<form [formGroup]="form" (ngSubmit)="submit()">
    <div *ngIf="showForm === true">
        <mat-card [class.mat-elevation-z8]="true">
            <mat-card-content>

                <div class="form-row2-wrapper">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput autocomplete="on" type="text" formControlName="name">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Preis</mat-label>
                        <input matInput autocomplete="on" type="number" formControlName="price">
                    </mat-form-field>
                </div>

                <div class="form-row2-wrapper">
                    <mat-form-field>
                        <mat-label>Bemerkung</mat-label>
                        <input matInput autocomplete="on" type="text" formControlName="comment">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Reihenfolge</mat-label>
                        <input matInput autocomplete="on" type="number" formControlName="sequence">
                    </mat-form-field>
                </div>

                <div class="form-row2-wrapper">
                    <mat-form-field>
                        <mat-label>Bestand</mat-label>
                        <input matInput autocomplete="on" type="number" formControlName="stock">
                    </mat-form-field>
                </div>

            </mat-card-content>
        </mat-card>

        <!-- Buttons -->
        <div class="buttonline">
            <button mat-raised-button class="buttonline-item" color="basic" type="button"
                (click)="cancel()">Abbrechen</button>
            <button mat-raised-button class="buttonline-item" color="primary" type="submit"
                [disabled]="form.value.name === ''">{{ command }}</button>
        </div>
    </div>
</form>