<h1 i18n>Berechtigungen</h1>
<div class="commandline">
    <div class="commandline-filter">
        <mat-form-field>
            <input matInput autocomplete="off" type="text" (keyup)="doFilter($event.target.value)" i18n-placeholder placeholder="Filter" />
        </mat-form-field>
    </div>

    <div class="commandline-button">
        <button mat-fab color="basic" [disabled]="showForm" (click)="refresh()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <div class="commandline-button">
        <button mat-fab color="basic" [disabled]="showForm || !credentials.authentications.write" (click)="add()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div class="commandline-button">
        <button mat-fab color="basic" [disabled]="showForm || selection.isEmpty() || !credentials.authentications.write"
            (click)="edit()">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
    <div class="commandline-button">
        <button mat-fab color="basic" [disabled]="showForm || selection.isEmpty() || !credentials.authentications.write"
            (click)="delete()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>

<table mat-table matSort [dataSource]="dataSource" class="table mat-elevation-z8">
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.title }}</th>
        <td mat-cell *matCellDef="let element" [ngClass]="column.align">
            <div *ngIf="column.type==='string'">{{ element[column.id] }}</div>
            <div *ngIf="column.type==='bool'">
                <mat-icon *ngIf="element[column.id] == true" aria-hidden="false" aria-label="Success">done</mat-icon>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="toggleSelection(row)"
        [ngClass]="{ hovered: row.hovered, highlighted: selection.isSelected(row) }" (mouseover)="row.hovered = true"
        (mouseout)="row.hovered = false"></tr>
</table>

<!-- Form -->
<form [formGroup]="form" (ngSubmit)="submit()" autocomplete="off">
    <div *ngIf="showForm === true">
        <mat-card [class.mat-elevation-z8]="true" class="form">
            <mat-card-content>
                <div class="form-row2-wrapper">
                    <mat-form-field>
                        <mat-label i18n>Benutzer</mat-label>
                        <input id="user" matInput type="text" formControlName="user">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label i18n>Kennwort</mat-label>
                        <input id="password" matInput type="password" formControlName="password">
                    </mat-form-field>
                </div>

                <div class="form-row4-wrapper">
                    <mat-label i18n>Vorbestellungen:</mat-label>
                    <div>
                        <mat-checkbox id="preOrdersRead" matInput formControlName="preOrdersRead" i18n>lesen</mat-checkbox>
                        <mat-checkbox id="preOrdersWrite" matInput formControlName="preOrdersWrite" i18n>schreiben</mat-checkbox>
                        <mat-checkbox id="preOrdersOrder" matInput formControlName="preOrdersOrder" i18n>übernehmen</mat-checkbox>
                    </div>
                    <mat-label i18n>Einkäufe:</mat-label>
                    <div>
                        <mat-checkbox id="ordersRead" matInput formControlName="ordersRead" i18n>lesen</mat-checkbox>
                        <mat-checkbox id="ordersWrite" matInput formControlName="ordersWrite" i18n>schreiben</mat-checkbox>
                    </div>
                </div>

                <div class="form-row4-wrapper">
                    <mat-label i18n>Kommunikation:</mat-label>
                    <div>
                        <mat-checkbox id="communicationsRead" matInput formControlName="communicationsRead" i18n>lesen</mat-checkbox>
                        <mat-checkbox id="communicationsWrite" matInput formControlName="communicationsWrite" i18n>schreiben</mat-checkbox>
                    </div>
                    <mat-label i18n>Gerichte:</mat-label>
                    <div>
                        <mat-checkbox id="menusRead" matInput formControlName="menusRead" i18n>lesen</mat-checkbox>
                        <mat-checkbox id="menusWrite" matInput formControlName="menusWrite" i18n>schreiben</mat-checkbox>
                    </div>
                </div>

                <div class="form-row4-wrapper">
                    <mat-label i18n>Statistik:</mat-label>
                    <div>
                        <mat-checkbox id="statisticsRead" matInput formControlName="statisticsRead" i18n>lesen</mat-checkbox>
                    </div>
                    <mat-label i18n>Backups:</mat-label>
                    <div>
                        <mat-checkbox id="backupsRead" matInput formControlName="backupsRead" i18n>lesen</mat-checkbox>
                    </div>
                </div>

                <div class="form-row4-wrapper">
                    <mat-label i18n>Info:</mat-label>
                    <div>
                        <mat-checkbox id="infosRead" matInput formControlName="infosRead" i18n>lesen</mat-checkbox>
                    </div>
                    <mat-label i18n>Berechtigungen:</mat-label>
                    <div>
                        <mat-checkbox id="authenticationsRead" matInput formControlName="authenticationsRead" i18n>lesen</mat-checkbox>
                        <mat-checkbox id="authenticationsWrite" matInput formControlName="authenticationsWrite" i18n>schreiben</mat-checkbox>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <!-- Buttons -->
        <div class="buttonline">
            <button mat-raised-button class="buttonline-item" color="basic" type="button"
                (click)="cancel()" i18n>Abbrechen</button>
            <button mat-raised-button class="buttonline-item" color="primary" type="submit"
                [disabled]="form.value.user === ''">{{ command }}</button>
        </div>
    </div>
</form>