<h1 mat-dialog-title>Anmeldung</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Benutzer</mat-label>
        <input matInput autocomplete="off" [(ngModel)]="user">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Kennwort</mat-label>
        <input type="password" matInput autocomplete="off" [(ngModel)]="password">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Abbrechen</button>
    <button mat-button [mat-dialog-close]="{ user: user || '', password: password || '' }">Ok</button>
</div>