.main {
    width: 100%;
}

.title {
    font-size: 100px;
    font-style: italic;
    font-weight: bolder;
    color: #777;
    height: 80px;
    width: 80%;
    text-align: center;
    margin-top: 200px;
    margin-right: 50px;
}

.subtitle {
    font-size: 40px;
    font-style: italic;
    font-weight: bolder;
    color: #222;
    text-align: center;
}